.app-container {
    height: 100%;
    .nav-menu {
        width: 16.67% !important;
        overflow: hidden;
        background-color: #0A1D33;
        // text-align: right;
        .logo {
            width: 100%;
            // padding: 18px 15px 0 0;
            img {
                width: 52px;
                margin: 23px auto;
                display: inline-block;
                vertical-align: middle;
                // padding-right: 16px;
            }
            span {
                font-size: 16px;
                color: #fff;
                display: inline-block;
                vertical-align: middle;
            }
        }

        .el-button {
            background: rgba(10, 29, 51, 0.8);
            border: none;
            color: rgba(255, 255, 255, 1);
            padding-right: 24px;
        }

        .menu:not(.el-menu--collapse) {
            width: 100%;
        }
        .el-menu {
            width: 240px;

            border-right: 0;
            background: none;
            .el-menu-item {
                text-align: left;
                // border-bottom: 1px solid #e8e8e8;
                padding-right: 0;
                padding-left: 0 !important;
                height: 48px;
                a {
                    display: inline-block;
                    width: 100%;
                    color: rgba(255, 255, 255, .85);
                    text-decoration: none;
                }
                img {
                    width: 15px;
                    height: 15px;
                    margin-left: 25px;
                }
                span {
                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 12px
                }
            }

            .el-menu-item:hover, .el-menu-item:active, .el-menu-item:link, .is-active {
                background-color: #3390FF;
                span {
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
    }
    .app-content {
        flex-direction: column;
        border-left: 1px solid #ccc;

        .header {
            height: 64px !important;
            font-size: 12px;
            line-height: 64px;
            display: flex;
            flex-direction: row;
            background: #fff;
            .dropdown {
                margin-right: 15px
            }
            .header-ava {
                width: 32px;
                height: 32px;
                margin: 10px 12px;
                img {
                    width: 32px;
                    height: 32px;
                    margin: 0;
                }
            }
            .header-title {
                flex-grow: 2;
                font-size: 20px;
                font-weight: bold;
                text-align: left;
            }

            .search-item {
                display: inline-block;
                span {
                    font-size: 14px;
                    font-weight: lighter;
                }
                .el-date-editor {
                    width: 200px
                }

            }
            .search-item:last-child {
                span {
                    margin-left: 16px
                }
            }
        }
        .header img {
            width: 20px;
            height: 20px;
            margin: 22px 12px;
        }
        .header .dropdown {
            width: 16px;
            height: 16px;
            margin: 24px 12px 24px 0;
        }

        .app-main {
            padding: 16px;
        }
    }
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    height: 8px;
    background-color: #ccc;
    border-radius: 8px;
    outline: 2px solid #fff;
    outline-offset: -2px;
    border: 2px solid #fff;
}

::-webkit-scrollbar-track-piece {
    background-color: #fff;
    border-radius: 3px;
}
